<%- include ('../partials/head.ejs') %>

<form class="editForm" action="/<%=habit._id%>/edit?_method=PUT" method="POST">

<div class="color">
    <div class="header">
        <a href="/<%=habit._id%>"><img src="https://i.imgur.com/mefk1CF.png" class="img"/></a>
    </div>
    <h1 class="show">Edit Entry</h1>
    <div class="header"><input class="img" type="image" src="https://i.imgur.com/eQCh7Eg.png" alt="Submit" /></div>
</div>

<div class="newentry">
  

       

<div class="form">

<h1>Activity</h1>
<input type="checkbox" class="activity" id="social" name="activity" value=" social">
<label for="social">Social</label><br>
<input type="checkbox" class="activity" id="yoga" name="activity" value=" yoga">
<label for="activity">Yoga</label><br>
<input type="checkbox" class="activity" id="meditation" name="activity" value=" meditation">
<label for="activity">Meditation</label><br>
<input type="checkbox" class="activity" id="rest" name="activity" value=" rest">
<label for="activity">Rest</label><br>
<input type="checkbox" class="activity" id="exercise" name="activity" value=" exercise">
<label for="activity">Exercise</label><br>
<input type="checkbox" class="activity" id="dance/play" name="activity" value=" dance/play">
<label for="activity">Dance/Play</label><br><br>
</div>


<div class="form">
<h1>Mood</h1>
<input type="radio" id="great" class="mood" name="mood" value="great">
<label for="great">Great</label><br>
<input type="radio" id="good" class="mood" name="mood" value="good">
<label for="good">Good</label><br>
<input type="radio" id="okay" class="mood" name="mood" value="okay">
<label for="okay">Okay</label><br>
<input type="radio" id="sad" class="mood" name="mood" value="sad">
<label for="sad">Sad</label><br>
<input type="radio" id="stressed" class="mood" name="mood" value="stressed">
<label for="stressed">Stressed</label><br>
<input type="radio" id="bad" class="mood" name="mood" value="bad">
<label for="bad">Bad</label><br><br>
</div>

<div class="form">
<h1>Thoughts</h1>
<textarea name="thoughts" class="thoughts"></textarea>
  
</div>
</div>
</form>

<div class="showAct invisible"><%=habit.activity%></div>
<div class="showMood invisible"><%=habit.mood%></div>
<div class="showThought invisible"><%=habit.thoughts%></div>

<script src="/editScript.js"></script>