<%- include ('../partials/head.ejs') %>

<form class="editForm" action="/<%=habit._id%>/edit?_method=PUT" method="POST">

<div class="color">
    <div class="header">
        <a href="/<%=habit._id%>"><img src="https://i.imgur.com/mefk1CF.png" class="img"/></a>
    </div>
    <h1 class="show">Edit Entry</h1>
    <div class="header"><input class="img" type="image" src="https://i.imgur.com/eQCh7Eg.png" alt="Submit" /></div>
</div>

<div class="newentry">
  

       

<div class="form">

    <h1>Activity</h1>
    <br>
    <div class="checkCont">
    <div class="checkcards"><input type="checkbox" class="activity invisible" id="social" name="activity" value=" social">
    <label for="social" class="social"><div class="checkDiv"><div><img src = "https://i.imgur.com/gPq87BK.png" class="icons"/></div><br><div>Social</div></div></label></div><br>
    <div class="checkcards"><input type="checkbox" class="activity invisible" id="yoga" name="activity" value=" yoga">
    <label for="yoga" class="yoga"><div class="checkDiv"><div><img src = "https://i.imgur.com/e1iwlfc.png" class="icons"/></div><br><div>Yoga</div></div></label></div><br>
    <div class="checkcards"><input type="checkbox" class="activity invisible" id="meditation" name="activity" value=" meditation">
    <label for="meditation" class="meditation"><div class="checkDiv"><div><img src = "https://i.imgur.com/PanqHkS.png" class="icons"/></div><br><div>Meditation</div></div></label></div><br>
    <div class="checkcards"><input type="checkbox" class="activity invisible" id="rest" name="activity" value=" rest">
    <label for="rest" class="rest"><div class="checkDiv"><div><img src = "https://i.imgur.com/yaHCwmH.png" class="icons"/></div><br><div>Rest</div></div></label></div><br>
    <div class="checkcards"><input type="checkbox" class="activity invisible" id="exercise" name="activity" value=" exercise">
    <label for="exercise" class="exercise"><div class="checkDiv"><div><img src = "https://i.imgur.com/SQHiIVk.png" class="icons"/></div><br><div>Exercise</div></div></label></div><br>
    <div class="checkcards"><input type="checkbox" class="activity invisible" id="dance" name="activity" value=" dance/play">
    <label for="dance" class="dance"><div class="checkDiv"><div><img src = "https://i.imgur.com/tSyZgXs.png" class="icons"/></div><br><div>Dance/Play</div></div></label></div></div><br><br>
</div>


<div class="form">
    <h1>Mood</h1>
    <br>
    <div class="checkCont">
    <div class="checkcards"><input type="radio" id="great" class="mood invisible" name="mood" value="great">
    <label for="great" class="great"><div class="checkDiv"><div><img src = "https://i.imgur.com/hcer7On.png" class="icons"/></div><br><div>Great</div></div></label></div><br>
    <div class="checkcards"><input type="radio" id="good" class="mood invisible" name="mood" value="good">
    <label for="good" class="good"><div class="checkDiv"><div><img src = "https://i.imgur.com/ZuN0AKm.png" class="icons"/></div><br><div>Good</div></div></label></div><br>
    <div class="checkcards"><input type="radio" id="okay" class="mood invisible" name="mood" value="okay">
    <label for="okay" class="okay"><div class="checkDiv"><div><img src = "https://i.imgur.com/mrfYPjJ.png" class="icons"/></div><br><div>Okay</div></div></label></div><br>
    <div class="checkcards"><input type="radio" id="sad" class="mood invisible" name="mood" value="sad">
    <label for="sad" class="sad"><div class="checkDiv"><div><img src = "https://i.imgur.com/mAzaux7.png" class="icons"/></div><br><div>Sad</div></div></label></div><br>
    <div class="checkcards"><input type="radio" id="stressed" class="mood invisible" name="mood" value="stressed">
    <label for="stressed" class="stressed"><div class="checkDiv"><div><img src = "https://i.imgur.com/8naTwMh.png" class="icons"/></div><br><div>Stressed</div></div></label></div><br>
    <div class="checkcards"><input type="radio" id="bad" class="mood invisible" name="mood" value="bad">
    <label for="bad" class="bad"><div class="checkDiv"><div><img src = "https://i.imgur.com/VUDyyt8.png" class="icons"/></div><br><div>Bad</div></div></label></div><br><br>
    </div><br><br>
</div>

<div class="form">
<h1>Thoughts</h1>
<textarea name="thoughts" class="thoughts"></textarea>
  
</div>
</div>
</form>

<div class="showAct invisible"><%=habit.activity%></div>
<div class="showMood invisible"><%=habit.mood%></div>
<div class="showThought invisible"><%=habit.thoughts%></div>

<script src="/editScript.js"></script>