<%- include ('../partials/head.ejs') %>

<div class="color">
    <!-- <div class="spacer"></div> -->
    <p class="gyst">GYST habit tracker</p>
    <div class="header">
        <a href="/profile/welcome"><img src="https://i.imgur.com/tOY5a6k.png" class="img"/></a>
    </div> 
</div>



<div class="entryBody">
    <% habits.forEach(entry => { %> 
        <a href="/<%= entry._id %>">
            <div class="entry"> 
            <div class="date">
                <h3> 
                    <% const options1 = { weekday: 'long'} %>
                    <% const options2 = {year: 'numeric', month: 'long', day: 'numeric' } %>
                    <%= new Date(entry.createdAt).toLocaleDateString('en-US', options1) %>, <br>
                    <%= new Date(entry.createdAt).toLocaleDateString('en-US', options2) %>
                    
                </h3>
            </div>
            <div class="iconContainer">
                <div class="actIcon">
                    <img class="actIcon icon" src="" />
                </div>
                    <div class="moodIcon">
                        <img class="moodIcon icon" src="" />
                    </div>
                    <div class="thoughtIcon">
                    </div>
        </div>

            <div class="invisible">
                <div class="activity"><%= entry.activity%>
                </div>
                    <div class="mood"><%= entry.mood %> 
                    </div>
                    <div class="thoughts"><%= entry.thoughts %></div>
            </div>
            
        </div></a>
    <% }) %>
</div>
<div class="addbutt"><a href="/add"><button class="addbtn">+</button></a></div>

<script src="/homeicons.js"></script>