<%- include('../partials/head.ejs') %>


<div class="color">
    <p class="gyst">GYST habit tracker</p>
</div>



<div class="body">
    <% habits.forEach(entry => { %> 
        <a href="/<%= entry._id %>"><div class="entry"> 
            <div class="date">
                <h3> 
                    <%= entry.date %> 
                </h3>
            </div>
            <div class="details">
                    <% entry.activity.forEach(act => { %>
                        <%= act.name %>
                    <% }) %>
                    <br>
                    <%= entry.mood %> 
                    <br> 
                    <%= entry.thoughts %>
            </div>
        </div></a>
    <% }) %>
<div class="addbutt"><a href="/add"><button class="addbtn">+</button></a></div>
</div>

