<link rel="stylesheet" type="text/css" href="style.css">

<h1>Entries</h1>
<div class="entry">
    <h3 class="date"><%=habits[0].date %></h3>

    <div class="icons">
        <img src="<%=habits[0].activity[0].catImg %>" width="40px" /><img src="<%= habits[0].thoughts.img %>" width="40px" />
    </div>

</div>
<br>
<div class="entry">
    <h3><%=habits[0].date %></h3>
    <h3><%= habits[0].activity[0].category %></h3>
    <h4><%= habits[0].activity[0].name%>, <%= habits[0].activity[1].name%> </h4>
    <div class=""><img src="<%=habits[0].activity[0].img %>" width="50px" /><img src="<%=habits[0].activity[1].img %>" width="50px" /><img src="<%= habits[0].thoughts.img %>" width="50px" /></div>
    <h3><%= habits[0].mood.category %> </h3> 
    <h4><%= habits[0].mood.name%></h4>
    <h3><%= habits[0].thoughts.category %></h3>
    
    <h4><%= habits[0].thoughts.content%></h4>
</div>

<button class="addbtn">+</button>