<%- include('../partials/head.ejs') %>
<div class="color">
    <div class="header">
        <a href="/"><img src="../imgs/Navigation/left-arrow.png" /></a>
    </div>
    <div class="header"><h1 class="show"><%= habit.date %></h1></div>
    <div class="header"><img src="../imgs/Navigation/draw.png" /></div>
</div>

<div class="singleentry">
            <div class="details">
                    <% habit.activity.forEach(act => { %>
                        <%= act.name %>
                    <% }) %>
                    <br>
                    <%= habit.mood %> 
                    <br> 
                    <%= habit.thoughts %>
                    <br><br>
            </div>

</div>


<!-- <div class="deletebutt"><a href="/?_method=DELETE"><button class="delbtn">delete</button></a></div> -->
<form class="deletebutt" action="/<%=habit._id%>?_method=DELETE">
    <input
        type="submit">
</form>