<%- include('../partials/head.ejs') %>
<div class="color">
    <div class="header">
        <a href="/"><img src="https://i.imgur.com/mefk1CF.png" /></a>
    </div>
    <div class="header"><h1 class="show">
        <% const options1 = { weekday: 'long'} %>
        <% const options2 = {year: 'numeric', month: 'long', day: 'numeric' } %>
        
        <%= new Date(habit.createdAt).toLocaleDateString('en-US', options2) %></h1></div>
    <div class="header"><a href="/<%=habit._id%>/edit"><img src="https://i.imgur.com/1ba6nWl.png" /></a></div>
</div>

<div class="singleentry">
            <div class="details">
                    <!-- < habit.activity.forEach(act => { %>
                        <= act.name %>
                    < }) %> -->
                    <%= habit.activity %>
                    <br>
                    <%= habit.mood %> 
                    <br> 
                    <%= habit.thoughts %>
                    <br><br>
            </div>

</div>

<form action="/<%= habit._id %>?_method=DELETE" method="POST">
    <input
        type="submit" value="delete">
    </form>