<%- include ('../partials/head.ejs') %>

<div class="color">
    <div class="header">
        <a href="/"><img src="https://i.imgur.com/mefk1CF.png" class="img"/></a>
    </div>
    <div class="header"><h1 class="show">
        <% const options1 = { weekday: 'long'} %>
        <% const options2 = {year: 'numeric', month: 'long', day: 'numeric' } %>
        <%= new Date(habit.createdAt).toLocaleDateString('en-US', options2) %></h1></div>
    <div class="header">
        <a href="/<%=habit._id%>/edit">
            <img src="https://i.imgur.com/1ba6nWl.png" class="img"/>
        </a>
    </div>
</div>

<div class="singleentry">
            <div class="details">
                <h1>Activity</h1>
                <div class="detailCont">
                <div class="actCont">
                    <div class="iconname"></div>
                <div class="showAct invisible"><%= habit.activity %></div>
                </div>
            </div>
            </div>
                    <br>
            <div class="details">
                <h1>Mood</h1>
                <div class="detailCont">
                    <div class="actCont">
                        <div class="iconmood"></div>
                    </div>
                </div>
                    <div class="showMood invisible"><%= habit.mood %> </div>
            </div>
                    <br> 
            <div class="details">
                <h1>Thoughts</h1>
                    <div class="showThought"><%= habit.thoughts %></div>
            </div>
                    <br>
            

</div>
<div class="header deletebutt" id="delete">
    <img src="https://i.imgur.com/pbQ3ZnR.png" class="img" id="delete"/>
</div>

<div class="modal">
<div class="youSure">
    <div><h1>Delete entry?</h1></div>
    <br>
    <div class="btnCont">
    <div class="yes">
        <form action="/<%= habit._id %>?_method=DELETE" method="POST">
            <input class="img" type="image" src="https://i.imgur.com/eQCh7Eg.png" alt="Submit" class="img" />
            </form>
    </div>
    <div class="no">
        <img src="https://i.imgur.com/pU5a7vb.png" class="img" />
    </div>
</div>
<br>
</div>
</div>

<script src="/showScript.js"></script>